<section id="hero" class="d-flex align-items-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Chocolats</h1>
        <h4>La Maison Huvelin vous propose de savoureux
chocolats fabriqués de manière artisanale.
Dégustez nos créations autour d'un café, à
l'ocassion d'un évènement ou par simple
gourmandise.......</h4>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="../../assets/images/hero.png" class="rounded-pill img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
