<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>About Us</h5>
        <p>We are a company that specializes in creating web applications using the latest technologies.</p>
      </div>
      <div class="col-md-6">
        <h5>Contact Us</h5>
        <address>
          123 Main St.<br>
          Suite 400<br>
          New York, NY 10001<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>Copyright &copy; 2023</p>
      </div>
    </div>
  </div>
</footer>
