<!DOCTYPE html>
<html lang="en">

    <style>
      .header-links {
        margin-right: 1rem;
        color: black;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header class="bg-white py-3">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6">
          </div>
          <div class="col-6 text-right">
            <a href="#" class="header-links">
              <i class="fas fa-user mr-2"></i> Mon Compte
            </a>
            <a href="#" class="header-links">
              <i class="fas fa-shopping-cart mr-2"></i> Mon Panier
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>